*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

  html,
  body,
  #root{
    height: 100%;
    width: 100%;

  }
  main{
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
    background-color: #3C3C3C;
  }
  main .laft ,
  main .right{
    height: 100%;
    flex-basis: 50%;
    border-radius: 0.7rem;
  }
  main .laft{
    background-color: #2b2828; /*change into black  */
    position: relative;
  }


  .laft .code,
  .code pre,
  .code  pre code{
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0.7rem;
    background-color: #080808;
  }


  main .laft .review{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem 2rem;
    font-weight: 500;
    border-radius: 0.7rem;
    cursor: pointer;
  }

  main .laft .review.red {
    background-color: red;
    color: white;
  }

  main .laft .review.green {
    background-color: green;
    color: white;
  }


  main .right{
    background-color: #635e5e; /*change into of wight*/
    padding: 1rem 2rem ;
    font-size: 1rem;
    overflow: auto;
  }
